// colors
$off-black: #20222B;
$off-white: #A5AFD7;
$blue: #3C4251;
$dark-blue: #252D49;
$light-blue: #464B5E;
$purple: #8357C5;

//Spacing Size
$small: 1.2rem;
$medium: 1.6rem;
$large: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

